.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    width: 60vw;
    height: 98vh;
    border: 1px solid black;
    font-size: 16px;
    font-family: sans-serif;
}

.messageContainer {
    width: 100%;
    height: 85%;

}

.messageWrapper {
    display: block;
    width: 100%;
    display: flex;
}

.message{
    max-width: 60%;
    min-height: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    margin: 5px;
}

.botMessageWrapper {
    justify-content: flex-end;
}

.botMessage{
    background-color: lightblue;
    justify-content: flex-end;
}

.userMessage {
    background-color: orange;
}

textarea {
    font-size: 16px;
    width: 400px;
    border-radius: 15px;
    padding: 5px;
}
